	<!-- Footer
    ================================================== -->
    <footer>
        <div class="row">         
            <p class="copyright">&copy; 版权所有 © All Rights Reserved <a title="Styleshout" href="#"></a></p>
            <div id="go-top">
                <a class="smoothscroll" title="Back to Top" href="#hero"><i class="icon-up-open"></i></a>
            </div>
        </div> <!-- Row End -->
    </footer> <!-- Footer End-->

    <script src="__STATIC__/Woo10/js/main.js"></script>